In [1]:
print('Hello World!')

Hello World!

In [2]:
print("Hello World!")

Hello World!

In [4]:
print("Yaw's in class")

Yaw's in class

# Variable Types

In [6]:
a = 'Hello World!'

In [7]:
print(a)

Hello World!

In [8]:
a

'Hello World!'

In [9]:
type(a)

str

In [10]:
b = 2

In [11]:
type(b)

int

In [12]:
c = 3.14159

In [13]:
type(c)

float

In [14]:
type(c)

float

In [15]:
d = 4.

In [16]:
type(d)

float

In [17]:
d = 'a'

In [18]:
type(d)

str

In [19]:
e = True

In [20]:
type(e)

bool

In [21]:
f = False

In [22]:
type(f)

bool

In [23]:
g = true

NameError: name 'true' is not defined

In [24]:
A

NameError: name 'A' is not defined

# Type Conversion

In [25]:
h = 4.
type(h)

float

In [26]:
int(h)

4

In [27]:
j = 3.14159
type(j)

float

In [28]:
int(j)

3

In [29]:
k = '4'
type(k)
int(k)

4

In [30]:
m = '4.1'
type(m)
float(m)

4.1

In [31]:
n = '4.1'
type(n)
int(n)

ValueError: invalid literal for int() with base 10: '4.1'

In [33]:
p = 3.1
type(p)
p = str(p)
type(p), p

(str, '3.1')

# Basic Math Operations

In [1]:
aa = 1 + 2
bb = 2 - 1
cc = 2 * 3
dd = 4 / 2
print(aa, bb, cc, dd)

3 1 6 2.0

Exponentiation

In [2]:
ee = 2**3
ee

8

Modulus Operator... gives the reaminder after division

In [3]:
ff = 9 % 2
ff

1

In [4]:
gg = 8 % 2
gg

0

In [7]:
hh = 'Go' + ' Tribe!'
hh

'Go Tribe!'

# Naming Variables

No spaces in variable names

Variables with two words: use underscore or camel case.

Criteria:
- Short as possible
- Descriptive

In [8]:
variable_cost = 1
variableCost = 2
vc = 3
var_cost = 4
varCost = 4
fixCost = 4
costVar = 4
costFix = 4

# Order of Operations

- Parentheses
- Exponentiation
- Multiplication, Division
- Addition, Substraction

In [9]:
result = 3 + 5/2
result

5.5

In [10]:
mean = (3 + 5)/2
mean

4.0

In [11]:
mean1 = (3 + (2+3))/2

In [12]:
result = (3 + (4)**2*3 + (28/7*2)/2*2)
result

59.0

The <code>input()</code> Statement

Permits input from keyboard.

In [13]:
my_input = input('Enter an integer: ')
my_input

Enter an integer: 7

'7'

In [14]:
my_input = input('Enter an integer: ')
my_input = 2.0 * my_input
my_input

Enter an integer: 7

TypeError: can't multiply sequence by non-int of type 'float'

In [15]:
my_input = input('Enter an integer: ')
my_input = float(my_input)
my_input = 2.0 * my_input
my_input

Enter an integer: 7

14.0

In [16]:
my_input = input('Enter an integer: ')
my_input = 2.0 * float(my_input)
my_input

Enter an integer: 7

14.0

In [17]:
my_input = input('Enter an integer: ')
my_input = 2.0 * float(my_input)
my_input

Enter an integer: abcd

ValueError: could not convert string to float: 'abcd'

# Python Builtin Functions

- int()
- float()
- type()
- input()
- str()
- bool()
- print()

https://docs.python.org/3/library/functions.html

In [18]:
aaa = pow(2, 3)
aaa

8

In [19]:
min(1,2)

1

In [20]:
max(1,2)

2

In [21]:
max(1,2,3,4)

4

In [22]:
my_str = 'hello'
len(my_str)

5

In [23]:
bool(0)

False

In [24]:
bool(1)

True

In [25]:
bool(99)

True

# Conditional Execution

- if-elif-else
- try-except

In [ ]:
# Try to take the reciprocal of x
x = 0

if Boolean-Expression:
    y = 1/x
    print(y)
else:
    something_else_to_execute

In [1]:
x = 0

In [2]:
x == 0

True

In [3]:
x != 0

False

In [4]:
x > 0

False

In [5]:
x >= 0

True

In [6]:
x<= 0

True

In [7]:
x < 0

False

In [9]:
# Try to take the reciprocal of x
x = 1

if x != 0:
    y = 1/x
    print(y)
else:
    print('Cannot take the reciprocal of 0')

1.0

In [11]:
x = 1

if x != 0 and x > 0:
    y = 1/x
    print(y)
else:
    print('Cannot take the reciprocal of 0')

1.0

In [14]:
y = 0
z = 49

y > 0 or z > 50

False

In [15]:
to_compute = True

if to_compute:
    print('Execute rest of program')

Execute rest of program

In [18]:
to_compute = False

if not to_compute:
    print('I cannot compute the solution')

I cannot compute the solution

In [16]:
not True

False

In [17]:
not False

True

Compute the number of students in each group
- Inputs
    - Number of students
    - Number of students per group
- Outputs
    - Number of groups
    - Number of leftover students

In [25]:
num_students = 34
students_per_group = 5

studt_extra = num_students % students_per_group
num_groups = num_students//students_per_group

num_groups, studt_extra

(6, 4)

How to find number of groups:

In [24]:
#print(round(num_students/students_per_group))
print(num_students//students_per_group)
print(int(num_students/students_per_group))
print((num_students - studt_extra)/students_per_group)

6
6
6.0

In [27]:
num_students = 34
students_per_group = 5

studt_extra = num_students % students_per_group
num_groups = num_students//students_per_group

print('Number of Groups: ', num_groups, '    Number of Extra Students:', studt_extra)

Number of Groups:  6     Number of Extra Students 4

In [4]:
students_per_group = input('Enter number of students per group: ')
students_per_group = int(students_per_group)

num_students = 34

if students_per_group < 0:
    print('The number of students in a group cannot be negative')
elif students_per_group == 0:
    print('Number of students in group must be greater than 0.')
else:
    studt_extra= num_students % students_per_group
    num_groups = num_students//students_per_group
    print('Number of Groups: ', num_groups, '    Number of Extra Students:', studt_extra)
print('hello')

Enter number of students per group: 0
Number of students in group must be greater than 0.
hello

In [28]:
f'Number of Groups: {num_groups}    Number of Extra Students: {studt_extra}'

'Number of Groups: 6    Number of Extra Students: 4'

## Try-Except

In [33]:
x = input('Enter a numerical value: ')
x = float(x)

# Compute reciprocal
try:
    y = 1/x
    print(f'The reciprocal of {x} is {y}')
except:
    print(f'Cannot compute the reciprocal of {x}')

Enter a numerical value: 0
Cannot compute the reciprocal of 0.0

In [34]:
x = input('Enter a numerical value: ')
x = float(x)

# Compute reciprocal
try:
    y = 1/x
    print(f'The reciprocal of {x} is {y}')
except:
    pass

Enter a numerical value: 0

DO NOT EXECUTE THE CODE CELL BELOW... it will destroy

In [35]:
input = x

In [1]:
x = input('Enter a numerical value: ')
x = float(x)

# Compute reciprocal
try:
    y = 1/x
    print(f'The reciprocal of {x} is {y}')
except:
    pass

Enter a numerical value: 0

# Comments

In [ ]:
# set value of x
x = 1
y = x + 1 # increase value fo x by 1 and assign to y

''' This is a very long comment    This is a very long comment    
    This is a very long comment    This is a very long comment    
    This is a very long comment    This is a very long comment    
    This is a very long comment    This is a very long comment    
    This is a very long comment    This is a very long comment    
    This is a very long comment    '''

"""  This is a very long comment    This is a very long comment    
    This is a very long comment    This is a very long comment    
    This is a very long comment    This is a very long comment    
    This is a very long comment    This is a very long comment"""
print(f'x = {x}  y = {y}')

# <Code>list</code> Data Type

In [5]:
my_list = [0,1,2]
my_list, type(my_list)

([0, 1, 2], list)

In [6]:
my_list2 = ['sdf', 'fgh']
my_list2, type(my_list2)

(['sdf', 'fgh'], list)

In [7]:
my_list3 = [True, 1, 3.4, 'hello']
my_list3, type(my_list3)

([True, 1, 3.4, 'hello'], list)

In [8]:
len(my_list3)

4

In [9]:
my_list3.append('another element')
my_list3

[True, 1, 3.4, 'hello', 'another element']

Delete from list by index

In [10]:
my_list3[0]

True

In [11]:
del my_list3[0]

In [12]:
my_list3

[1, 3.4, 'hello', 'another element']

In [13]:
my_list3.remove('hello')

In [14]:
my_list3

[1, 3.4, 'another element']

<code>range()</code> Statement

In [15]:
range(10)

range(0, 10)

In [16]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
# range(start, stop, increment)
list(range(1, 27, 2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]