# Homework

## M2_1

In [1]:
success = False  # indicator variable if conversion has been successful

while not success:
    f = input('Please enter a number: ')
    try:
        f = float(f)
        c = (f - 32) *5/9
        print(f'{f} Fahrenheit is {c} Celsius.')
        success = True
    except:
        print(f'{f} could not be converted to a numerical value.')

Please enter a number: werwefasd
werwefasd could not be converted to a numerical value.
Please enter a number: eerfasdfs
eerfasdfs could not be converted to a numerical value.
Please enter a number: sdafasdwer
sdafasdwer could not be converted to a numerical value.
Please enter a number: 212
212.0 Fahrenheit is 100.0 Celsius.

## M2_2

In [2]:
temps = ['x', 212, 'x', 32, 'y', 41]

for t in temps:
    # Don't do this
    # if type(t) == 'int' or 'float'
    if isinstance(t, float) or isinstance(t,int):
        # do_temp_conversion
        t = float(t)
        c = (t - 32) * 5/9
        print(c)
    else:
        print(f'{t} could not be interpreted as a number.')

x could be interpreted as a number.
100.0
x could be interpreted as a number.
0.0
y could be interpreted as a number.
5.0

In [3]:
bool('float')

True

# Revisit For Loops

Which type of for loops must be used if we want to change the values in a list?

In [4]:
data = [3,9,3,7,0,1,5,7,8]

In [5]:
for element in data:
    if element >= 5:
        element = 0
        
data

[3, 9, 3, 7, 0, 1, 5, 7, 8]

In [6]:
for i in range(len(data)):
    if data[i] >= 5:
        data[i] = 0
        
data

[3, 0, 3, 0, 0, 1, 0, 0, 0]

# Custom Functions

- Avoid bugs
- Cleaner, more readable code
- Faster development
- Code reuse, faster development of subsequent code
- Easier maintenance

In [7]:
num_item_order = [1,2,3,2,1,2,3,4,5,1]
sales_store = [25.21, 43.75, 94.25]
sales_cust = [7.51, 42.12, 76.43]
rev_order = [2.35, 7.85, 2.98, 12.95]

avg_item_order = sum(num_item_order)/len(num_item_order)
avg_store_sales = sum(sales_store)/len(sales_store)
avg_sales_cust = sum(sales_cust)/len(sales_cust)
avg_rev_order = sum(rev_order)/len(rev_order)

print(avg_item_order, avg_store_sales, avg_sales_cust, avg_rev_order)

2.4 54.403333333333336 42.02 6.5325

In [48]:
def avg(my_list):
    my_avg = sum(my_list)/len(my_list)
    return my_avg

In [11]:
def avg1(my_list):
    return sum(my_list)/len(my_list)

In [9]:
num_item_order = [1,2,3,2,1,2,3,4,5,1]
sales_store = [25.21, 43.75, 94.25]
sales_cust = [7.51, 42.12, 76.43]
rev_order = [2.35, 7.85, 2.98, 12.95]

avg_item_order = avg(num_item_order)
avg_store_sales = avg(sales_store)
avg_sales_cust = avg(sales_cust)
avg_rev_order = avg(rev_order)

print(avg_item_order, avg_store_sales, avg_sales_cust, avg_rev_order)

2.4 54.403333333333336 42.02 6.5325

In [10]:
num_item_order = [1,2,3,2,1,2,3,4,5,1]
sales_store = [25.21, 43.75, 94.25]
sales_cust = [7.51, 42.12, 76.43]
rev_order = [2.35, 7.85, 2.98, 12.95]

print(avg(num_item_order), avg(sales_store), avg(sales_cust), avg(rev_order))

2.4 54.403333333333336 42.02 6.5325

Functions with multiple _arguments_

In [12]:
def check_type(x, y):
    #result = (type(x) == type(y))
    return type(x) == type(y)

In [16]:
def check_type1(x, y):
    return isinstance(x, type(y))

In [14]:
check_type(1.,2)

False

In [17]:
check_type1(1.,2)

False

# Dictionaries

A collection of _key:value_ pairs.

Very fast lookup.

In [5]:
eng_span = {0:'cero', 1:'uno', 2:'dos', 4:'quatro'}

In [2]:
eng_span[1]

'uno'

In [3]:
eng_span[3]

KeyError: 3

In [6]:
eng_span[4]

'quatro'

In [7]:
eng_span.keys()

dict_keys([0, 1, 2, 4])

In [8]:
eng_span.values()

dict_values(['cero', 'uno', 'dos', 'quatro'])

In [9]:
eng_span.items()

dict_items([(0, 'cero'), (1, 'uno'), (2, 'dos'), (4, 'quatro')])

In [10]:
for k in eng_span.keys():
    print(k)

0
1
2
4

In [11]:
for k in eng_span:
    print(k)

0
1
2
4

In [12]:
for item in eng_span.items():
    print(item)

(0, 'cero')
(1, 'uno')
(2, 'dos')
(4, 'quatro')

In [14]:
for k,v in eng_span.items():
    print(k, '     ',v)

0       cero
1       uno
2       dos
4       quatro

In [15]:
k,v, m = (0, 'cero')
print(k)
print(v)

ValueError: not enough values to unpack (expected 3, got 2)

In [16]:
d = {}
type(d)

dict

In [17]:
d['x'] = 99

In [18]:
d

{'x': 99}

In [19]:
d['x'] = 100
d

{'x': 100}

In [20]:
d['x'] += 1
d

{'x': 101}

In [21]:
d = {}
import random

for i in range(10):
    d[i] = random.randint(0,9)
    
d

{0: 3, 1: 0, 2: 1, 3: 8, 4: 5, 5: 6, 6: 5, 7: 9, 8: 1, 9: 0}

In [22]:
data = []

for i in range(10000):
    data.append(random.randint(0,9))
data[:10]

[1, 8, 7, 7, 6, 1, 0, 0, 7, 8]

In [65]:
# fh = frequency histogram
# fh dictionary has keys equal to the integer values in data list
#  and values equal to the number number of occurrences of each unqiue
# integer
fh = {}

for ele in data:
    if ele in fh.keys():
        fh[ele] += 1
    else:
        fh[ele] = 1
    
fh

{1: 998,
 8: 1002,
 7: 1008,
 6: 975,
 0: 1018,
 4: 1001,
 2: 976,
 3: 1031,
 5: 964,
 9: 1027}

In [24]:
check = [0,3,5,8]
3 in check

True

# List Comprehension

In [26]:
dt = []

for i in range(10):
    dt.append(random.randint(0,9))
dt

[5, 1, 5, 0, 6, 3, 9, 9, 7, 6]

In [27]:
dt1 = [random.randint(0,9) for i in range(10)]
dt1

[0, 7, 2, 2, 1, 4, 9, 5, 3, 9]

In [28]:
dt2 = [i for i in range(10)]
dt2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

![List Comprehension Example](images/listComprehension.jpg)
![List Comprehension Format Scheme](images/listComprehension1.jpg)

In [29]:
dt3 = [i for i in range(10) if i <= 5]
dt3

[0, 1, 2, 3, 4, 5]

In [30]:
dt4 = [d for d in data if d <=5]
dt4

[1,
 1,
 0,
 0,
 4,
 0,
 1,
 0,
 1,
 2,
 0,
 3,
 4,
 3,
 5,
 4,
 0,
 2,
 4,
 2,
 2,
 4,
 0,
 2,
 0,
 3,
 3,
 0,
 1,
 5,
 0,
 1,
 3,
 3,
 2,
 3,
 4,
 1,
 3,
 2,
 3,
 3,
 1,
 0,
 4,
 4,
 0,
 2,
 2,
 5,
 3,
 5,
 4,
 2,
 0,
 5,
 1,
 2,
 3,
 5,
 1,
 1,
 3,
 5,
 3,
 2,
 1,
 4,
 3,
 2,
 5,
 0,
 2,
 2,
 0,
 2,
 4,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 2,
 4,
 3,
 2,
 3,
 1,
 1,
 2,
 2,
 3,
 1,
 2,
 3,
 1,
 1,
 2,
 1,
 4,
 3,
 1,
 3,
 4,
 5,
 5,
 4,
 0,
 2,
 1,
 3,
 4,
 2,
 0,
 0,
 3,
 5,
 2,
 2,
 1,
 1,
 0,
 4,
 5,
 2,
 1,
 4,
 0,
 0,
 2,
 5,
 1,
 4,
 0,
 3,
 1,
 5,
 4,
 0,
 2,
 0,
 2,
 0,
 3,
 0,
 2,
 4,
 4,
 0,
 5,
 2,
 5,
 3,
 0,
 4,
 5,
 0,
 5,
 2,
 3,
 4,
 2,
 5,
 3,
 5,
 5,
 2,
 5,
 3,
 3,
 3,
 0,
 4,
 4,
 0,
 4,
 2,
 5,
 3,
 1,
 0,
 0,
 3,
 5,
 5,
 4,
 0,
 1,
 1,
 2,
 4,
 4,
 1,
 4,
 4,
 1,
 3,
 2,
 2,
 1,
 1,
 1,
 5,
 3,
 4,
 4,
 3,
 0,
 3,
 2,
 5,
 0,
 4,
 3,
 3,
 1,
 3,
 3,
 3,
 3,
 2,
 0,
 3,
 5,
 3,
 2,
 1,
 2,
 4,
 5,
 1,
 0,
 1,
 0,
 5,
 0,
 1,
 2,
 4,
 1,
 2,
 5,
 1,
 5,
 3,
 5,
 0,
 0,
 0,
 1,
 3,
 1,
 3,
 3,
 2,
 3,
 2,
 0,
 2,
 2,
 4,
 1,
 1,
 2,
 3,
 1,
 5,
 1,
 2,
 2,
 5,
 1,
 0,
 1,
 2,
 2,
 5,
 0,
 0,
 3,
 2,
 5,
 2,
 3,
 0,
 3,
 0,
 3,
 5,
 3,
 4,
 4,
 2,
 0,
 3,
 2,
 5,
 0,
 3,
 0,
 3,
 4,
 4,
 3,
 0,
 0,
 2,
 2,
 5,
 5,
 1,
 5,
 1,
 2,
 2,
 3,
 2,
 0,
 0,
 2,
 5,
 2,
 3,
 2,
 5,
 2,
 1,
 5,
 2,
 4,
 0,
 3,
 2,
 1,
 2,
 4,
 0,
 3,
 5,
 0,
 5,
 0,
 3,
 2,
 1,
 1,
 5,
 1,
 3,
 4,
 1,
 5,
 2,
 2,
 1,
 0,
 1,
 5,
 3,
 4,
 1,
 0,
 4,
 0,
 2,
 3,
 0,
 1,
 3,
 1,
 2,
 1,
 2,
 2,
 4,
 0,
 3,
 5,
 5,
 3,
 4,
 2,
 1,
 4,
 3,
 2,
 3,
 1,
 3,
 2,
 3,
 2,
 4,
 1,
 0,
 4,
 2,
 1,
 4,
 4,
 3,
 3,
 4,
 3,
 5,
 1,
 3,
 1,
 2,
 0,
 2,
 3,
 4,
 2,
 0,
 5,
 3,
 0,
 4,
 1,
 1,
 3,
 5,
 0,
 4,
 5,
 5,
 3,
 4,
 2,
 1,
 1,
 2,
 4,
 1,
 1,
 1,
 0,
 4,
 2,
 5,
 0,
 2,
 1,
 5,
 1,
 4,
 5,
 1,
 3,
 3,
 4,
 3,
 1,
 4,
 2,
 4,
 3,
 4,
 4,
 1,
 2,
 2,
 1,
 5,
 4,
 5,
 5,
 4,
 4,
 5,
 0,
 4,
 3,
 2,
 2,
 3,
 3,
 1,
 3,
 4,
 4,
 1,
 0,
 5,
 4,
 5,
 4,
 0,
 5,
 0,
 2,
 3,
 5,
 0,
 0,
 2,
 1,
 3,
 1,
 2,
 0,
 4,
 3,
 3,
 4,
 1,
 5,
 1,
 1,
 2,
 5,
 5,
 3,
 3,
 0,
 3,
 2,
 3,
 4,
 1,
 0,
 1,
 3,
 2,
 1,
 3,
 3,
 4,
 0,
 0,
 2,
 0,
 5,
 0,
 3,
 3,
 4,
 3,
 0,
 5,
 5,
 0,
 3,
 4,
 3,
 2,
 1,
 1,
 0,
 3,
 0,
 2,
 0,
 4,
 3,
 3,
 1,
 1,
 3,
 3,
 4,
 4,
 5,
 3,
 0,
 2,
 4,
 2,
 1,
 0,
 3,
 1,
 0,
 4,
 1,
 5,
 3,
 3,
 1,
 4,
 2,
 2,
 0,
 2,
 1,
 2,
 3,
 1,
 1,
 3,
 2,
 1,
 5,
 1,
 5,
 3,
 0,
 4,
 5,
 1,
 5,
 3,
 3,
 0,
 2,
 3,
 4,
 0,
 3,
 4,
 1,
 1,
 2,
 4,
 1,
 1,
 2,
 3,
 0,
 5,
 0,
 5,
 5,
 5,
 5,
 3,
 1,
 5,
 4,
 3,
 4,
 1,
 1,
 3,
 0,
 0,
 3,
 2,
 5,
 0,
 5,
 0,
 0,
 4,
 4,
 5,
 0,
 1,
 3,
 1,
 4,
 3,
 3,
 0,
 2,
 3,
 2,
 4,
 1,
 0,
 4,
 4,
 1,
 1,
 2,
 2,
 3,
 3,
 5,
 4,
 5,
 2,
 2,
 3,
 2,
 4,
 2,
 3,
 3,
 0,
 3,
 0,
 0,
 1,
 4,
 3,
 2,
 2,
 5,
 1,
 5,
 5,
 1,
 1,
 4,
 5,
 4,
 2,
 0,
 5,
 3,
 4,
 5,
 2,
 1,
 2,
 4,
 5,
 5,
 3,
 4,
 5,
 5,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 3,
 4,
 3,
 5,
 2,
 5,
 0,
 1,
 1,
 5,
 1,
 4,
 4,
 0,
 4,
 3,
 2,
 5,
 1,
 3,
 5,
 2,
 0,
 3,
 0,
 3,
 0,
 3,
 0,
 3,
 0,
 4,
 0,
 0,
 1,
 1,
 2,
 3,
 5,
 0,
 4,
 4,
 2,
 2,
 0,
 5,
 4,
 1,
 5,
 0,
 5,
 4,
 2,
 0,
 1,
 5,
 3,
 5,
 0,
 0,
 2,
 4,
 1,
 3,
 2,
 0,
 4,
 4,
 4,
 0,
 4,
 1,
 3,
 3,
 0,
 3,
 0,
 4,
 3,
 0,
 0,
 2,
 3,
 0,
 5,
 1,
 5,
 5,
 1,
 4,
 5,
 4,
 1,
 2,
 0,
 0,
 0,
 3,
 1,
 3,
 3,
 4,
 2,
 2,
 5,
 0,
 2,
 3,
 3,
 5,
 5,
 0,
 3,
 2,
 3,
 1,
 4,
 1,
 4,
 3,
 3,
 1,
 1,
 0,
 3,
 0,
 0,
 4,
 3,
 3,
 5,
 2,
 5,
 5,
 2,
 0,
 2,
 1,
 1,
 3,
 4,
 3,
 0,
 0,
 3,
 5,
 0,
 0,
 0,
 1,
 3,
 0,
 0,
 2,
 2,
 1,
 4,
 2,
 4,
 4,
 3,
 1,
 0,
 0,
 5,
 4,
 3,
 0,
 2,
 5,
 4,
 0,
 4,
 0,
 4,
 1,
 1,
 0,
 5,
 1,
 1,
 4,
 4,
 1,
 3,
 5,
 5,
 4,
 5,
 0,
 5,
 4,
 1,
 2,
 1,
 3,
 0,
 0,
 1,
 0,
 1,
 3,
 2,
 2,
 4,
 3,
 2,
 5,
 0,
 5,
 2,
 0,
 5,
 3,
 5,
 4,
 1,
 2,
 4,
 4,
 4,
 4,
 1,
 2,
 1,
 1,
 4,
 3,
 0,
 3,
 0,
 3,
 4,
 4,
 2,
 4,
 1,
 0,
 0,
 3,
 3,
 5,
 1,
 4,
 4,
 5,
 3,
 5,
 4,
 1,
 4,
 1,
 4,
 1,
 3,
 5,
 4,
 3,
 1,
 0,
 5,
 4,
 4,
 2,
 4,
 0,
 4,
 2,
 5,
 0,
 3,
 0,
 1,
 1,
 0,
 1,
 2,
 ...]

![List_Comp If](images/listComprehension2.jpg)

In [32]:
dt5 = [d if d <= 5 else 0 for d in data[:20]]
dt5

[1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 4, 0, 0, 1, 0, 0, 0, 1, 2, 0]

![List_Comp If-Then](images/list_comp_if_else.jpg)

## Ternary Operator

One of two outcomes is selected depending on a condition.

In [33]:
x = 3
result = 'even' if x%2 == 0 else 'odd'
result

'odd'

# Dictionary Comprehension

In [34]:
fh = {}

for i in range(10):
    fh[i] = 0
    
fh

{0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0}

In [ ]:
dc = {}

In [36]:
# initialize fh
fh = {}

for i in range(10):
    fh[i] = 0

# create frequency histogram data
for ele in data:
    fh[ele] += 1
    
fh

{0: 1018,
 1: 998,
 2: 976,
 3: 1031,
 4: 1001,
 5: 964,
 6: 975,
 7: 1008,
 8: 1002,
 9: 1027}

In [37]:
fh = {i:0 for i in range(10)}
fh

{0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0}

In [45]:
import random
data1 = [('male',random.randint(75,100)) if random.random() <= 0.5 else ('female', random.randint(85,100)) for _ in range(30)]
data1[:5]

[('female', 88), ('male', 94), ('female', 96), ('male', 98), ('female', 91)]

In [46]:
fem_score = []

for g,s in data1:
    if g == 'female':
        fem_score.append(s)
        
fem_score

[88, 96, 91, 89, 88, 93, 88, 97, 100, 86, 92, 85, 89, 95, 93, 90, 88]

In [49]:
avg(fem_score)

91.05882352941177

In [50]:
t0 = []

for g,s in data1:
    t0.append(g)
    
t0

['female',
 'male',
 'female',
 'male',
 'female',
 'female',
 'male',
 'female',
 'female',
 'female',
 'male',
 'female',
 'female',
 'male',
 'female',
 'male',
 'female',
 'male',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'female',
 'female',
 'female',
 'female']

In [53]:
t0_lc = [g for g,s in data1]    
t0_lc

['female',
 'male',
 'female',
 'male',
 'female',
 'female',
 'male',
 'female',
 'female',
 'female',
 'male',
 'female',
 'female',
 'male',
 'female',
 'male',
 'female',
 'male',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'female',
 'female',
 'female',
 'female']

In [66]:
freq_odd = []

for k in fh.keys():
    if k%2==1:
        freq_odd.append(fh[k])
        
freq_odd

[998, 1008, 1031, 964, 1027]

# Back to Lambda

In [54]:
avg_list = lambda x:sum(x)/len(x)

In [55]:
y = [6,2,9,4]
print(avg_list(y))

5.25

In [56]:
f2c = lambda f:(f - 32)*5/9

In [57]:
f2c(32)

0.0

In [58]:
f2c(212)

100.0

In [59]:
f2c(41)

5.0

In [60]:
even_odd = lambda x: 'odd' if x%2==1 else 'even'

In [61]:
even_odd(7)

'odd'

In [62]:
even_odd = lambda x: 'odd' if x%2 else 'even'

In [63]:
even_odd(9)

'odd'

In [64]:
even_odd(4)

'even'

#### Set Data Type

In [52]:
list(set(t0))

['male', 'female']