# Homework Discussion

## M1_1.ipynb

In [3]:
''' This program converts a Fahrenheit temperature to the Celsius scale '''
# f = Fahrenheit
# c = Celsius

f = input('Please enter a Fahrenheit temperature: ')
f = float(f)
c = (f - 32) * 5/9  # conversion formula to Celsius
print(f'The Celsius equivalent of the temperature you entered, {f} degrees, is {c} degrees Celsius.')

Please enter a Fahrenheit temperature: 212
The Celsius equivalent of the temperature you entered, 212.0 degrees, is 100.0 degrees Celsius.

In [4]:
''' This program converts a Fahrenheit temperature to the Celsius scale '''
# f = Fahrenheit
# c = Celsius

f = input('Please enter a Fahrenheit temperature: ')
f = float(f)
#c = (f - 32) * 5/9
print(f'The Celsius equivalent of the temperature you entered, {f} degrees, is {(f - 32) * 5/9} degrees Celsius.')

Please enter a Fahrenheit temperature: 32.0
The Celsius equivalent of the temperature you entered, 32.0 degrees, is 0.0 degrees Celsius.

## M1_2.ipynb

In [7]:
# this is a comment
val = input('Enter an integer: ')
val = int(val)

if val % 2:
    print('odd')
else:
    print('even')

Enter an integer: 3
odd

In [6]:
print(bool(1))
print(bool(0))

True
False

In [9]:
# this code that determines whether a number is divisible by 3
val = input('Enter an integer: ')
val = int(val)

if not val % 3: # or if val % 3 == 0
    print('Yes, divisible by 3')
else:
    print('No, not divisible by 3')

Enter an integer: 5
No, not divisible by 3

## M1_3.ipynb

In [12]:
val = input('Please enter a string: ')

print(len(val))

Please enter a string: 2005
4

# Lists

In [13]:
t = [9, 6, 8, 1, 2, 4, 6, 5, 7, 0]
len(t)

10

In [14]:
t[3]

1

Using a colon enables multiple elements to be accessed from a list.  This is called a _slice_.

In [15]:
t[3:5]

[1, 2]

No stop index says "go to the end of the list"

In [16]:
t[7:]

[5, 7, 0]

In [17]:
t[:3]

[9, 6, 8]

Negative indices count from the end of the list.

In [18]:
t[-1]

0

In [19]:
t[-3:]

[5, 7, 0]

In [20]:
t[:-6]

[9, 6, 8, 1]

In [21]:
t[-6:-2]

[2, 4, 6, 5]

In [22]:
t[0] = 99
t

[99, 6, 8, 1, 2, 4, 6, 5, 7, 0]

Lists a mutable:
- elements can be revised
- elements can be appended
- elements can be deleted (list.remove(), del)

# Sorting Lists

list.sort() is an in-pace operation.

In [24]:
print(t)
t.sort()
print(t)

[99, 6, 8, 1, 2, 4, 6, 5, 7, 0]
[0, 1, 2, 4, 5, 6, 6, 7, 8, 99]

In [25]:
w = [3,8,2,9,1]
w = w.sort()
w

In [26]:
type(w)

NoneType

In [27]:
t.sort(reverse=True)
t

[99, 8, 7, 6, 6, 5, 4, 2, 1, 0]

sorted is not an in-place operation

In [32]:
t = sorted(t)

In [31]:
t

[0, 1, 2, 4, 5, 6, 6, 7, 8, 99]

In [35]:
t = sorted(t, reverse=True)
t

[99, 8, 7, 6, 6, 5, 4, 2, 1, 0]

The code below is an infinite loop.  To regain control use menu Kernel>Interrupt

In [ ]:
x = 0 
while True:
    x += 1

## Computations with Lists

In [36]:
sum(t)

138

In [37]:
avg = sum(t)/len(t)
avg

13.8

# Multiple-Dimension Lists

In [38]:
z = [[9,1], [8,2], [7,3]]

In [39]:
z[0]

[9, 1]

In [40]:
z[0][1]

1

In [41]:
z.append([6,4])
z

[[9, 1], [8, 2], [7, 3], [6, 4]]

In [42]:
len(z)

4

In [43]:
len(z[0]), len(z[1]), len(z[2])

(2, 2, 2)

In [44]:
z[1].append(5)
z

[[9, 1], [8, 2, 5], [7, 3], [6, 4]]

In [45]:
z.sort()
z

[[6, 4], [7, 3], [8, 2, 5], [9, 1]]

In [46]:
import operator

z.sort(key=operator.itemgetter(1))
z

[[9, 1], [8, 2, 5], [7, 3], [6, 4]]

In [47]:
z.sort(key=operator.itemgetter(1), reverse=True)
z

[[6, 4], [7, 3], [8, 2, 5], [9, 1]]

# Tuple Data Type

In [48]:
my_tup = (4,9,5,2,1)
print(type(my_tup))
print(my_tup)

<class 'tuple'>
(4, 9, 5, 2, 1)

In [51]:
my_tup = ((9,1), (8,2), (7,3))
my_tup

((9, 1), (8, 2), (7, 3))

In [52]:
my_tup[1]

(8, 2)

In [53]:
my_tup[2][0]

7

Tuples are _immutable_
- Cannot change values within tuples

In [ ]:
my_tup[2][0] = 99

In [55]:
my_tup[0] = (0,5)

TypeError: 'tuple' object does not support item assignment

In [56]:
del my_tup[0]

TypeError: 'tuple' object doesn't support item deletion

In [57]:
my_tup.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [58]:
del my_tup

In [59]:
my_tup

NameError: name 'my_tup' is not defined

# For Loops

Enable processing of large data sets and algorithmw with many, many iteration with little code.

- Iterate through a collection of data and do some processing
- Iterating through steps in an algorithm

In [ ]:
for i in [0,1,2]:
    print(i)
print("Hello, I'm done!")

In [61]:
it = 0
for i in [0,1,2]:
    print(i)
    it += 1 # or it = it + 1
    print(f'Iteration {it}')
print("Hello, I'm done!")

0
Iteration 1
1
Iteration 2
2
Iteration 3
Hello, I'm done!

In [62]:
for j in (0,1,2):
    print(j)

0
1
2

In [2]:
tot = ((9,1), (8,2), (7,3))

In [67]:
for t in tot:
    print(t)

(9, 1)
(8, 2)
(7, 3)

In [68]:
for t in tot:
    for element in t:
        print(element)

9
1
8
2
7
3

In [71]:
my_list = [32,17,21]
for i in range(len(my_list)):
    print(my_list[i])
print("Hello, I'm done!")

32
17
21
Hello, I'm done!

In [70]:
my_list = [32,17,21]
range(len(my_list))

range(0, 3)

In [72]:
tot

((9, 1), (8, 2), (7, 3))

In [73]:
for i in range(len(tot)):
    for j in range(len(tot[i])):
        print(tot[i][j])

9
1
8
2
7
3

In [3]:
for i in range(len(tot)):
    for j in range(len(tot[i])):
        print(i,j)
        #print(tot[i][j])

0 0
0 1
1 0
1 1
2 0
2 1

In [4]:
tot

((9, 1), (8, 2), (7, 3))

In [5]:
my_str = 'text'

for char in my_str:
    print(char)

t
e
x
t

## Iterables

We have seen that you can iterate through these data types taht contain a collection of elements:
- lists
- tuples
- ranges
- strings

Later on we will iterate through:
- dictionaries
- input text files

# A Story Problem

Create a list of tuples, with each tuple containing two integer elements.  The collection of tuples should exhaustively describe all the combinations of values from two die.

[(1,1), (1,2), ... , (6,6)]

Part 2: Calculate the probability of having the total of the two die being 7.

In [6]:
# Create 2 variables (tuple) for all outcomes of one die
die2 = (1,2,3,4,5,6)
die1 = tuple(range(1,7))

# Define empty list for solution
soln = []

# 2 nested for loops to get all combinations
for out1 in die1:
    for out2 in die2:
        # Insert tuple (outcome) into list
        soln.append((out1,out2))
print(len(soln), '\n', soln)

36
 [(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)]

In [10]:
# Define success
success_value = 7

# Initiate counter
s = 0

# Iterate through all outcomes and increment counter for successes
for outcome in soln:
    if sum(outcome) == success_value:
        s += 1

# Calculate successes/all outcomes
print(f'The probability of two die summing to {success_value} is {s/len(soln)}')

The probability of two die summing to 7 is 0.16666666666666666

In [7]:
tup = (1,2)
sum(tup)

3

In [11]:
# Create 2 variables (tuple) for all outcomes of one die
die = tuple(range(1,7))

# Define empty list for solution
soln = []

# 2 nested for loops to get all combinations
for out1 in die:
    for out2 in die:
        # Insert tuple (outcome) into list
        soln.append((out1,out2))
print(len(soln), '\n', soln)

36
 [(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)]

# While Loops

In [12]:
# counter variable
i = 0

while i < 10:
    print(i)
    i += 1
print("I'm done")

0
1
2
3
4
5
6
7
8
9
I'm done

In [13]:
# counter variable
i = 10

while i:
    print(i)
    i -= 1
print("I'm done")

10
9
8
7
6
5
4
3
2
1
I'm done

# A While Loop Story

Use a while loop to simulate how many wins a team gets in a row.

In [15]:
import random

coll = []
for _ in range(100):
    coll.append(random.random())
coll

[0.8406085817848685,
 0.33591297555469446,
 0.8516101781376427,
 0.8262140879582358,
 0.8448672077449717,
 0.5023550291891766,
 0.3479092703576757,
 0.41946021312678583,
 0.8250316340392625,
 0.38033453573148623,
 0.6228790845070011,
 0.17510409794364878,
 0.7233282749706833,
 0.1716365771289462,
 0.09023898384199847,
 0.4264047083899186,
 0.3878200316755892,
 0.8355793407756453,
 0.228313128168264,
 0.042193143116966536,
 0.27592647744009047,
 0.41649258402712175,
 0.11159189385595125,
 0.45966867232069875,
 0.47957617073005465,
 0.21188675418776215,
 0.07297372509090227,
 0.15628280665876293,
 0.990757603519496,
 0.05094900470963726,
 0.9846328856444646,
 0.5204439037724589,
 0.9268385515695124,
 0.9962009316470993,
 0.1169099254071796,
 0.488344125658396,
 0.844451450077264,
 0.7433473222602942,
 0.5344608676364211,
 0.22261964777101717,
 0.9969624791579469,
 0.6912635989208282,
 0.44408020230806744,
 0.8806999806987751,
 0.23893118881903241,
 0.7418238103546355,
 0.03691799341181079,
 0.647711940658731,
 0.47308129859946146,
 0.6779955458235689,
 0.36855856239220464,
 0.6078756557814147,
 0.19986958928229048,
 0.19911858904525892,
 0.3444935229815357,
 0.5536819134172277,
 0.43519088748320456,
 0.5228248115289568,
 0.23175466087887697,
 0.2504994386524839,
 0.3991329493068798,
 0.5066034069129337,
 0.6693593658811293,
 0.9585289214034927,
 0.5990709177852747,
 0.016933607720593824,
 0.9640151822814559,
 0.6801010239186422,
 0.2303109655255634,
 0.017843929801362624,
 0.8801637202288817,
 0.2725787096426838,
 0.15169326849256937,
 0.5232217343092508,
 0.5392393943507305,
 0.2532799848109828,
 0.8556604510413924,
 0.20978432181000872,
 0.5538276366227712,
 0.3889648258685051,
 0.2647378387488335,
 0.8771880861413514,
 0.719034851502852,
 0.8172794301951727,
 0.3486709901166005,
 0.07797932610586489,
 0.16847770973329335,
 0.23928818892206105,
 0.7127332630441833,
 0.38214021424187083,
 0.09954922789025422,
 0.773617526828582,
 0.71067437710007,
 0.6817538363916709,
 0.0901527404805651,
 0.22838343497721236,
 0.7638749509388951,
 0.6242656947009942,
 0.8375288331802522,
 0.5823545688797394]

In [20]:
# Initiate counter for number of wins
wins = 0

rv = random.random()
while rv <= 0.5:
    wins +=1
    rv = random.random()
    
print(f'Number of Wins: {wins}')

Number of Wins: 1

In [26]:
# Initiate counter for number of wins
wins = 0

while random.random() <= 0.5:
    wins +=1
    
print(f'Number of Wins: {wins}')

Number of Wins: 2

In [27]:
win_dist = []

for _ in range(100):  # No need to declare dummy variable if it is not used

    # Initiate counter for number of wins
    wins = 0

    while random.random() <= 0.5:
        wins +=1
    win_dist.append(wins)
    #print(f'Number of Wins: {wins}')

print(win_dist)

[1, 4, 1, 0, 0, 3, 2, 1, 2, 10, 1, 0, 2, 0, 0, 0, 2, 0, 0, 2, 0, 1, 0, 0, 1, 5, 2, 0, 0, 0, 0, 0, 1, 0, 0, 1, 4, 1, 2, 2, 1, 2, 2, 0, 0, 5, 2, 1, 1, 2, 3, 0, 3, 1, 0, 1, 1, 5, 2, 0, 0, 1, 0, 0, 2, 2, 0, 4, 1, 1, 0, 0, 1, 0, 0, 0, 0, 2, 2, 0, 4, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0]

<code>isinstance()</code> Function

In [30]:
val = input('Enter a numerical value: ')
val = float(val)

if isinstance(val, float) and val >=0:
    print(val**0.5)
else:
    print(f'The square root of value {val} could not be caclulated')

Enter a numerical value: -17
The square root of value -17.0 could not be caclulated

In [31]:
isinstance(val, float)

True